@import '../helpers//mixins.scss';
@import '../helpers/variables.scss';

.month {
    margin: 0 auto;
}

.daysWrapper {
    color: $white;
}

.days {
    @include font-settings(16px, 10px, 400);
    font-family: $font-acrom;
    padding: 12px;
    cursor: pointer;
}

.monthName {
    @include font-settings(18px, 24px, 400);
    font-family: $font-acrom;
    color: $white;
    border-bottom: solid 1px;
    padding-bottom: 10px;
    padding-top: 50px;
    

    
}

.dayWeeks {
    color: $white;
}

.day {
    border-top: solid 1px;
    border-bottom: solid 1px;
}

.btnPrev {
    @include font-settings(18px, 24px, 400);
    background-color: initial;
    color: $white;
    position: absolute;
    left: 0;
    cursor: pointer;
}

.btnNext {
    @include font-settings(18px, 24px, 400);
    background-color: initial;
    color: $white;
    position: absolute;
    right: 0;
    cursor: pointer;
}

@media screen and (min-width: 1024px) {

    .month {
        position: relative;
        left: 30vw;
        bottom: 10vh;
    }

    .monthName {
        @include font-settings(22px, 28px, 700);
        border-bottom: solid 2px;
        padding-bottom: 10px;
    }


    .days {
        @include font-settings(22px, 28px, 400);
        font-family: $font-acrom;
        padding: 12px;
    }

    .day {
        @include font-settings(22px, 28px, 400);
        font-family: $font-acrom;
    }

}